*,
*::before,
*::after {
  box-sizing: border-box;
}

.globalcss, body, p, ul {
  margin: 0;
}

.globalcss {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 14px;
  background-color: #fff;
}
.globalcss * {
  color: #000;
}
.globalcss .btn.close {
  width: 18px;
  height: 18px;
  background: transparent;
  padding: 0;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'  fill='%23000' %3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
}
.globalcss :focus, .globalcss :focus-visible {
  outline: 0;
}

/*h6, h5, h4, h3, h2, h1{
    margin: 0;
    font-weight: 500;
}*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}
.modal-dialog {
  position: relative;
  max-width: 550px;
  margin: 4rem auto;
  pointer-events: none;
}
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}
.modal.show .modal-dialog {
  transform: none;
}
.modal .centered {
  min-height: calc(100% - 8rem);
  display: flex;
  align-items: center;
}
.modal-content {
  pointer-events: auto;
  background: #000;
  border-radius: 0.3rem;
  width: 100%;
}
.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  /*border-bottom: 1px solid #6d6d6d;
  o border:none;
  */
  padding: 1rem;
  font-size: 18px;
  font-weight: 500;
}
.modal-body {
  display: grid;
  gap: 0.5rem;
  padding: 1rem;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop.show {
  opacity: 0.5;
}

.fade {
  transition: opacity 0.15s linear;
}

.fade:not(.show) {
  opacity: 0;
}

.globalcss .slc:hover, .globalcss .btn:hover {
  filter: brightness(0.9);
}

.globalcss .ipt:disabled, .globalcss .slc:disabled, .globalcss .btn:disabled {
  filter: brightness(0.7);
}

.globalcss .slc, .globalcss .btn {
  cursor: pointer;
  font-size: inherit;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #000;
  background-color: #fff;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.globalcss .slc {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 14px 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.globalcss .ipt {
  font-size: inherit;
  border: 1px solid #000;
  background-color: white;
  width: 100%;
  border-radius: 0.25rem;
  padding: 0.5rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.globalcss .ipt:focus {
  box-shadow: 0 0 0 0.1rem white;
  border: 1px solid transparent;
}
.globalcss .ipt::-moz-placeholder {
  color: #000;
}
.globalcss .ipt::placeholder {
  color: #000;
}

.globalcss .link {
  cursor: pointer;
  text-decoration: none;
}
.globalcss .btn.border {
  border-color: #f36d33;
  background: #edb8a1;
}
.globalcss .btn.singup {
  background-color: green;
}
.globalcss .btn.reset {
  background-color: rgb(255, 0, 0);
}
.globalcss .btn.send {
  background-color: #f36d33;
}
.globalcss .slc.cd-red {
  background-color: red;
}
.globalcss .group__flex, .globalcss .group__flex--resize {
  display: flex;
  gap: 0.5rem;
}
.globalcss .group__flex--resize .btn {
  width: 25%;
}
.globalcss .group__flex--resize.rem .btn {
  width: 7rem;
}
.globalcss .group__grid, .globalcss .group__grid--resize {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(3, auto);
}
.globalcss .group__grid--resize {
  grid-template-columns: repeat(3, 25%);
}/*# sourceMappingURL=styles.css.map */