:root{
    --header-bg: #1a232c;
    --main-bg: #22292f;
    --border-rds: 0.25rem;
    --header-data-down-bg: #39454e;
    --scroll-c: #4b595d;
    --scroll-bg : #313131;
    --effect-hover : brightness(.9);
    --effect-disabled : brightness(.7);
    --p-container: 0.5rem;
}   
$size-web: 1200px;
$form-height: 2.6rem;
$p-container: 0.5rem;

@import '../components/generic-scss';
@import '../components/bootstrap-change';
