// class ghost
%f{ 
    display: flex;
    &-aic{
        @extend %f;
        align-items: center;
        &__c{
            @extend %f-aic;
            justify-content: center;
        }
        &__f-s{
            @extend %f-aic;
            justify-content: start;
        }
        &__f-e{
            @extend %f-aic;
            justify-content: end;
        }
        &__s-b{
            @extend %f-aic;
            justify-content: space-between;
        }
        &__s-a{
            @extend %f-aic;
            justify-content: space-around;
        }
        &__s-e{
            @extend %f-aic;
            justify-content: space-evenly;
        }
    }
    &-aib{
        @extend %f;
        align-items: baseline;
        &__c{
            @extend %f-aib;
            justify-content: center;
        }
        &__f-s{
            @extend %f-aib;
            justify-content: start;
        }
        &__f-e{
            @extend %f-aib;
            justify-content: end;
        }
        &__s-b{
            @extend %f-aib;
            justify-content: space-between;
        }
        &__s-a{
            @extend %f-aib;
            justify-content: space-around;
        }
        &__s-e{
            @extend %f-aib;
            justify-content: space-evenly;
        }

    }
    &-aifs{
        @extend %f;
        align-items: flex-start;
        &__c{
            @extend %f-aifs;
            justify-content: center;
        }
        &__f-s{
            @extend %f-aifs;
            justify-content: start;
        }
        &__f-e{
            @extend %f-aifs;
            justify-content: end;
        }
        &__s-b{
            @extend %f-aifs;
            justify-content: space-between;
        }
        &__s-a{
            @extend %f-aifs;
            justify-content: space-around;
        }
        &__s-e{
            @extend %f-aifs;
            justify-content: space-evenly;
        }

    }
    &-aife{
        @extend %f;
        align-items: flex-end;
        &__c{
            @extend %f-aife;
            justify-content: center;
        }
        &__f-s{
            @extend %f-aife;
            justify-content: start;
        }
        &__f-e{
            @extend %f-aife;
            justify-content: end;
        }
        &__s-b{
            @extend %f-aife;
            justify-content: space-between;
        }
        &__s-a{
            @extend %f-aife;
            justify-content: space-around;
        }
        &__s-e{
            @extend %f-aife;
            justify-content: space-evenly;
        }

    }
}
%hover{
    &:hover{
        filter: var(--effect-hover);
    }
}
%btn{
    @extend %hover;
    cursor: pointer;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid transparent;
    border-radius: var(--border-rds);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;
}

// a, link, input, button, select, textarea e iframe.
:focus, :focus-visible{
    outline: 0 !important;
}
// input, select, button
:disabled, .disabled{
    filter: var(--effect-disabled);
    &:hover{
        filter: var(--effect-disabled) !important;
    }
}
// para cualquier elemento
.disabled{
    pointer-events: none
}

select{
    @extend %hover;
    cursor: pointer;
}


input[type=date] {
    min-width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative
}
  
input[type=date]::-webkit-calendar-picker-indicator {
  filter: invert(68%) sepia(11%) saturate(12%) hue-rotate(322deg) brightness(87%) contrast(91%)
}


@media (min-width: $size-web) {
    input[type=date]::-webkit-calendar-picker-indicator {
        background:0 0
    }
  
    input[type=date]:before {
        font-family: "font awesome 5 free";
        content: "\f133";
        position: absolute;
        right: .5rem;
        color: #999
    }
}
