*,
*::before,
*::after {
    box-sizing: border-box;
}

#{$body},body,p,ul{
    margin: 0;
}

#{$body}{
    *{
        color: #{$g-color};
    }
    font-family: $g-font;
    font-size: $g-font-size;
    background-color: $bgc-body;
    .header{
        &__logo{
            cursor: pointer;
        }
    }
    .btn{
        @extend %button;
    }
    .slc{
        @extend %select;
    }
    .ipt{
        @extend %input;
    }
    .link{
        @extend %link;
    }

    // a, link, input, button, select, textarea e iframe. / cuando has visto aun ciego jugar casino ?xdd, por eso esto es valido
    :focus, :focus-visible{
        outline: 0;
    }
    :disabled, :disabled:hover{
        filter: #{$g-disabled};
    }

        //.header{
    //    background-color: $bgc-header;
    //}
}



/*h6, h5, h4, h3, h2, h1{
    margin: 0;
    font-weight: 500;
}*/


//select{
//    font-size: inherit;
//}

// input, select, button ; en caso sean bg claros o oscuros cambiar el color que tiene el disabled

// para cualquier elemento, evita el evento click
//.disabled{
//    pointer-events: none;
//
//}





//input[type=date] {
//    min-width: 100%;
//    -webkit-appearance: none;
//    -moz-appearance: none;
//    appearance: none;
//    position: relative
//}
//  
//input[type=date]::-webkit-calendar-picker-indicator {
//  filter: invert(68%) sepia(11%) saturate(12%) hue-rotate(322deg) brightness(87%) contrast(91%)
//}
//
//
//@media (min-width: $size-web) {
//    input[type=date]::-webkit-calendar-picker-indicator {
//        background:0 0
//    }
//  
//    input[type=date]:before {
//        font-family: "font awesome 5 free";
//        content: "\f133";
//        position: absolute;
//        right: .5rem;
//        color: #999
//    }
//}
