*,
*::before,
*::after {
    box-sizing: border-box;
}

input{
    &[type=number]{
        -moz-appearance:textfield;
        &::-webkit-inner-spin-button,&::-webkit-outer-spin-button{
            -webkit-appearance: none; 
            margin: 0; 
        }
    }
}


//input[type=checkbox] {
//   cursor: pointer;
//}

#{$body},body,p,ul{
    margin: 0;
}

#{$body}{
    *{
        color: #{$g-color};
    }
    font-family: $g-font;
    font-size: $g-font-size;
    background-color: $bgc-body;
    .btn{
        @extend %button;
        //for modal
        &.close {
            width: #{$g-font-size + 4};
            height: #{$g-font-size + 4};
            background: transparent;
            padding: 0;
            background-image: url("#{$close}");
            background-repeat: no-repeat;
        }
    }
    .slc{
        @extend %select;
    }
    .ipt{
        @extend %input;
    }
    .link{
        @extend %link;
    }

    // a, link, input, button, select, textarea e iframe. / cuando has visto aun ciego jugar casino ?xdd, por eso esto es valido
    :focus, :focus-visible{
        outline: 0;
    }


        //.header{
    //    background-color: $bgc-header;
    //}
}



/*h6, h5, h4, h3, h2, h1{
    margin: 0;
    font-weight: 500;
}*/


//select{
//    font-size: inherit;
//}

// input, select, button ; en caso sean bg claros o oscuros cambiar el color que tiene el disabled

// para cualquier elemento, evita el evento click
//.disabled{
//    pointer-events: none;
//
//}





//input[type=date] {
//    min-width: 100%;
//    -webkit-appearance: none;
//    -moz-appearance: none;
//    appearance: none;
//    position: relative
//}
//  
//input[type=date]::-webkit-calendar-picker-indicator {
//  filter: invert(68%) sepia(11%) saturate(12%) hue-rotate(322deg) brightness(87%) contrast(91%)
//}
//
//
//@media (min-width: $size-web) {
//    input[type=date]::-webkit-calendar-picker-indicator {
//        background:0 0
//    }
//  
//    input[type=date]:before {
//        font-family: "font awesome 5 free";
//        content: "\f133";
//        position: absolute;
//        right: .5rem;
//        color: #999
//    }
//}

//MODAL GLOBAL
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1055;
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
      &-dialog {
          position: relative;
          max-width: 550px;
          margin: $height-header auto;
          pointer-events: none;
      }
      &.fade &-dialog{
          transition: transform .3s ease-out;
          transform: translate(0,-50px);
      }
      &.show &-dialog{
          transform: none;
      }
      & .centered{
        min-height: calc(100% - #{$height-header * 2});
        display: flex;
        align-items: center;
      }
      &-content {
          pointer-events: auto;
          background: $bg-modal;
          border-radius: 0.3rem;
          width: 100%;
      }
      &-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          text-transform:uppercase;
          /*border-bottom: 1px solid #6d6d6d;
          o border:none;
          */

          padding: 1rem;
          font-size: 18px;
          font-weight: 500;
      }
      &-body{
          display: grid;
          gap: 0.5rem;
          padding: 0 1rem 1rem;
      }
      &-backdrop {
          position: fixed;
          top: 0;
          left: 0;
          z-index: 1050;
          width: 100vw;
          height: 100vh;
          background-color: #000;
          &.fade{
              opacity: 0;
          }
          &.show {
              opacity: .5;
          }
      }
}
  
.fade {
    transition: opacity .15s linear;
}
.fade:not(.show) {
    opacity: 0;
}

//INPUT
