$body  : ".nix-body"; // recuerda que para EVITAR cruze de css cuando se integra "X" pagina con otra, colocar el contenedor global del proyecto ayuda a prevenir esto
$theme : "dark";// them coliseosport, theme jetbet, theme-dark01 
$page : "colisesport";
//g = global
//bgc = background-color
$g-color       : null;
$color-primary : null;
$bgc-body      : null;
$bgc-header    : null;
$g-font        : system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$g-font-size   : 14px;
$g-hover       : brightness(.9);
$g-disabled    : brightness(.7);
$size-web      : 1200px;

//@if($theme == "light" and $g-color == null){
//    $g-color : #000;
//} @else if($theme == "dark" and $g-color == null){
//    $g-color : #fff;
//}
@if($page == "colisesport"){
    $g-color : #fff;
    $color-primary : #f54b00;
    //$bgc-body :#1c2226;
    $bgc-body :#313233;
    $bgc-header : #000;
}