//recuerda que no lo puedes colocar directamente en body ya que si son integraciones dentro de otro sistemas , puedes alterar el css que ya tenia
#{$body}{
    //font-family: var(--font);
    //font-size: var(--txt-size);
    .btn{
        &.border{
           border-color: #f36d33;
           background: #edb8a1;
        }
        &.singup{
            background-color: green;
        }
        &.reset{
            background-color: rgb(255 0 0);
        }
        &.send{
            background-color: #f36d33;
        }
    }
    .slc{
        &.cd-red{
            background-color: red;
        }
    }
    .group{
        &__flex{
            display: flex;
            gap: 0.5rem;
            &--resize{
                @extend .group__flex;
                .btn{
                    width: 25%;
                }
                &.rem{
                    .btn{
                        width: 7rem;
                    }
                }
            }
        }
        &__grid{
            display: grid;
            gap: 0.5rem;
            grid-template-columns: repeat(3,auto);
            &--resize{
                @extend .group__grid;
                grid-template-columns: repeat(3,25%);
            }
        }
    }
    
}



//una iamgen que cambia en duro dependendien del la selecion del tamaño de pantalla con la eituqeta source
//<picture class="navbar__logo-img"><source media="(max-width: 477px)" srcset="https://d3oqh5ecy4r3n8.cloudfront.net/img/bitstarz-logo-mobile.9133139.svg" width="40" height="31"> <source media="(min-width: 478px)" srcset="https://d3oqh5ecy4r3n8.cloudfront.net/img/bitstarz-logo.1d214b2.svg" width="121" height="22"> <img src="https://d3oqh5ecy4r3n8.cloudfront.net/img/bitstarz-logo.1d214b2.svg" alt="BitStarz logo" width="121" height="22"></picture>