$body  : ".lajoya"; //nombre de la pagina
$page : "lajoya";//default-light || default-dark
@import '../../components/variables';
$borderR-btn   : 0;
@import '../../components/global';
@import "../../components/mixins";
@import '../../components/placeholder-selectors';



#{$body}{
    .header{
        @include structureHeader("coliseosport",10rem);
    }
    .btn{
        &.login,&.singup{
            font-weight: 600;
        }
        &.login{
            @include borderSquareAnimated(#3a1875,#d53a9d,#3a86ff,1);
        }
        &.singup{
            background-color: #138d75;
        }
    }
    //animaciones
    @include animation-borderSquare();
}



