$body  : ".coliseosport"; //nombre de la pagina
$page : "coliseosport";//default-light || default-dark
@import '../../components/variables';
@import '../../components/global';
@import "../../components/mixins";
@import '../../components/placeholder-selectors';



#{$body}{
    .header{
        @include structureHeader("coliseosport",9rem);
    }
    .btn{
        &.login,&.singup{
            & i{
                margin-right: 0.25rem;
            }
            font-weight: 500;
        }   
        &.login{
            @include borderSquareAnimated(#3a1875,#d53a9d,#3a86ff,1);
            background-color: $bgc-primary;
            text-transform: uppercase;
        }
        &.singup{
            background-color: #fff;
            color: inherit;
            border: none;
            text-transform: inherit;
            &:hover{
                background-color: #fff;
                color: inherit;
            }
        }
    }
     //animaciones
     @include animation-borderSquare();
}