$body  : ".bitstarz"; //nombre de la pagina
$page : "bitstarz";//default-light || default-dark
@import '../../components/variables';
@import '../../components/global';
@import "../../components/mixins";
@import '../../components/placeholder-selectors';



#{$body}{
    .header{
        @include structureHeader("bitstarz",auto);
        &__menu{
            @include dropdown-menu("bitstarz");
        }
    }
    .btn{
        &.login,&.singup{
            text-transform: uppercase;
            font-weight: 600;
        }
        &.login{
            background-color: #2b2740;
        }
        &.singup{
            background-color: #0dd182;
        }
    }
    .ipt{
        @include searchHeader(#1b1928,inherit,25rem);
    }
}
