$body  : ".latinosbet"; //nombre de la pagina
$page : "latinosbet";//default-light || default-dark
@import '../../components/variables';

$borderR-btn   : 0;

@import '../../components/global';
@import "../../components/mixins";
@import '../../components/placeholder-selectors';



#{$body}{
    .header{
        @include structureHeader("latinosbet",9rem);
        &__games{
            display: flex;
            gap: 1rem;
            font-size: 1rem;
            font-weight: 500;
            justify-content: center;
        }
    }
    .btn{
        &.login{
            background-color: $color-primary;
            color: #000;
        }
        &.singup{
            background-color: transparent;
            border: 2px solid $color-primary;
            color: $color-primary;
            &:hover{
                background-color:  $color-primary;
                color: #000;
            }
        }
    }
}