*,
*::before,
*::after {
  box-sizing: border-box;
}

input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bitstarz, body, p, ul {
  margin: 0;
}

.bitstarz {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 14px;
  background-color: #313233;
}
.bitstarz * {
  color: #fff;
}
.bitstarz .btn.close {
  width: 18px;
  height: 18px;
  background: transparent;
  padding: 0;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'  fill='%23000' %3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
}
.bitstarz :focus, .bitstarz :focus-visible {
  outline: 0;
}

/*h6, h5, h4, h3, h2, h1{
    margin: 0;
    font-weight: 500;
}*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}
.modal-dialog {
  position: relative;
  max-width: 550px;
  margin: 4rem auto;
  pointer-events: none;
}
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}
.modal.show .modal-dialog {
  transform: none;
}
.modal .centered {
  min-height: calc(100% - 8rem);
  display: flex;
  align-items: center;
}
.modal-content {
  pointer-events: auto;
  background: #000;
  border-radius: 0.3rem;
  width: 100%;
}
.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  /*border-bottom: 1px solid #6d6d6d;
  o border:none;
  */
  padding: 1rem;
  font-size: 18px;
  font-weight: 500;
}
.modal-body {
  display: grid;
  gap: 0.5rem;
  padding: 0 1rem 1rem;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop.show {
  opacity: 0.5;
}

.fade {
  transition: opacity 0.15s linear;
}

.fade:not(.show) {
  opacity: 0;
}

.bitstarz .slc:hover, .bitstarz .btn:hover {
  filter: brightness(0.9);
}

.bitstarz .ipt:disabled, .bitstarz .slc:disabled, .bitstarz .btn:disabled {
  filter: brightness(0.7);
}

.bitstarz .slc, .bitstarz .btn {
  cursor: pointer;
  font-size: inherit;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.bitstarz .slc {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23d3d7db' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  color: #000;
  height: inherit;
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 12px 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.bitstarz .slc > * {
  color: #000;
}

.bitstarz .ipt {
  font-size: inherit;
  border: 1px solid transparent;
  background-color: #000;
  color: #000;
  height: inherit;
  width: 100%;
  border-radius: 0.25rem;
  padding: 0.5rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.bitstarz .ipt:focus {
  box-shadow: 0 0 0 0.1rem #1f1f1f;
  border: 1px solid transparent;
}
.bitstarz .ipt::-moz-placeholder {
  color: #d3d7db;
}
.bitstarz .ipt::placeholder {
  color: #d3d7db;
}

.bitstarz .link {
  cursor: pointer;
  text-decoration: none;
}
.bitstarz .link:hover, .bitstarz .active.link {
  color: #0dd182;
}

.bitstarz .header {
  display: grid;
  grid-template-columns: 40px auto 1fr 7rem 7rem;
  align-items: center;
  height: 4rem;
  padding: 0 0.5rem;
  gap: 0.5rem;
  background-color: #0d0d0d;
}
.bitstarz .header__logo {
  cursor: pointer;
  width: auto;
}
.bitstarz .header__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 38px;
  padding: 10px;
  background-color: transparent;
}
.bitstarz .header__menu span {
  width: 100%;
  height: 2px;
  position: relative;
  background: transparent;
}
.bitstarz .header__menu:after, .bitstarz .header__menu:before, .bitstarz .header__menu span:after, .bitstarz .header__menu span:before {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  border-radius: 4px;
  background: #fff;
  transition: opacity 0.2s ease-in-out, transform 0.25s ease-in-out;
}
.bitstarz .header__menu span:after, .bitstarz .header__menu span:before {
  position: absolute;
  width: 100%;
}
.bitstarz .header__menu.is-open span:before {
  transform: rotate(45deg);
}
.bitstarz .header__menu.is-open span:after {
  transform: rotate(-45deg);
}
.bitstarz .header__menu.is-open:before, .bitstarz .header__menu.is-open:after {
  opacity: 0;
}
.bitstarz .btn.login, .bitstarz .btn.singup {
  text-transform: uppercase;
  font-weight: 600;
}
.bitstarz .btn.login {
  background-color: #2b2740;
  color: inherit;
}
.bitstarz .btn.singup {
  background-color: #0dd182;
  color: inherit;
  border: none;
}
.bitstarz .btn.singup:hover {
  background-color: #0dd182;
  color: inherit;
}
.bitstarz .ipt.search {
  background-color: #1b1928;
  max-width: 25rem;
  color: inherit;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><circle cx='11' cy='11' r='7' fill='none' stroke='%23d3d7db' stroke-width='2'/><line x1='20' y1='23' x2='15' y2='17' stroke='%23d3d7db' stroke-width='2'/></svg>");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  padding-right: 2rem;
  background-position: right 0.5rem center;
}
.bitstarz .ipt.search:focus {
  box-shadow: 0 0 0 0.1rem #373351;
}/*# sourceMappingURL=style-bitstarz.css.map */